body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:348px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u234 {
  position:absolute;
  left:228px;
  top:29px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u235 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u236 {
  position:absolute;
  left:228px;
  top:109px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u237 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u238 {
  position:absolute;
  left:228px;
  top:211px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u239 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:288px;
  top:79px;
  width:0px;
  height:0px;
}
#u240_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u240_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u240_seg2 {
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u241 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:288px;
  top:159px;
  width:0px;
  height:0px;
}
#u242_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u242_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u242_seg2 {
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u243 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:53px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u244 {
  position:absolute;
  left:228px;
  top:682px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u245 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u246 {
  position:absolute;
  left:228px;
  top:307px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u247 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:51px;
}
#u248 {
  position:absolute;
  left:32px;
  top:682px;
  width:159px;
  height:50px;
  font-size:16px;
}
#u249 {
  position:absolute;
  left:2px;
  top:16px;
  width:155px;
  word-wrap:break-word;
}
#u250 {
  position:absolute;
  left:228px;
  top:707px;
  width:0px;
  height:0px;
}
#u250_seg0 {
  position:absolute;
  left:-37px;
  top:-4px;
  width:41px;
  height:8px;
}
#u250_seg1 {
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u250_seg2 {
  position:absolute;
  left:-43px;
  top:-9px;
  width:19px;
  height:18px;
}
#u251 {
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u252 {
  position:absolute;
  left:228px;
  top:400px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u253 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u254 {
  position:absolute;
  left:228px;
  top:533px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u255 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u256 {
  position:absolute;
  left:288px;
  top:261px;
  width:0px;
  height:0px;
}
#u256_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:50px;
}
#u256_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u256_seg2 {
  position:absolute;
  left:-9px;
  top:33px;
  width:18px;
  height:19px;
}
#u257 {
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258 {
  position:absolute;
  left:288px;
  top:357px;
  width:0px;
  height:0px;
}
#u258_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u258_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u258_seg2 {
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:19px;
}
#u259 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  position:absolute;
  left:288px;
  top:450px;
  width:0px;
  height:0px;
}
#u260_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:87px;
}
#u260_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u260_seg2 {
  position:absolute;
  left:-9px;
  top:70px;
  width:18px;
  height:19px;
}
#u261 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  word-wrap:break-word;
}
#u262 {
  position:absolute;
  left:288px;
  top:583px;
  width:0px;
  height:0px;
}
#u262_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:103px;
}
#u262_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u262_seg2 {
  position:absolute;
  left:-9px;
  top:86px;
  width:18px;
  height:19px;
}
#u263 {
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u264 {
  position:absolute;
  left:228px;
  top:332px;
  width:0px;
  height:0px;
}
#u264_seg0 {
  position:absolute;
  left:-64px;
  top:-4px;
  width:64px;
  height:8px;
}
#u264_seg1 {
  position:absolute;
  left:-64px;
  top:-202px;
  width:8px;
  height:206px;
}
#u264_seg2 {
  position:absolute;
  left:-64px;
  top:-202px;
  width:64px;
  height:8px;
}
#u264_seg3 {
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u264_seg4 {
  position:absolute;
  left:-13px;
  top:-207px;
  width:19px;
  height:18px;
}
#u265 {
  position:absolute;
  left:-110px;
  top:-107px;
  width:100px;
  word-wrap:break-word;
}
