body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:871px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u122 {
  position:absolute;
  left:375px;
  top:31px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u123 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u124 {
  position:absolute;
  left:375px;
  top:111px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u125 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u126 {
  position:absolute;
  left:375px;
  top:192px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u127 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u128 {
  position:absolute;
  left:375px;
  top:273px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u129 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:108px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u130 {
  position:absolute;
  left:358px;
  top:364px;
  width:34px;
  height:108px;
  font-size:16px;
}
#u131 {
  position:absolute;
  left:2px;
  top:16px;
  width:30px;
  word-wrap:break-word;
}
#u132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:108px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u132 {
  position:absolute;
  left:418px;
  top:365px;
  width:34px;
  height:108px;
  font-size:16px;
}
#u133 {
  position:absolute;
  left:2px;
  top:35px;
  width:30px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:108px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u134 {
  position:absolute;
  left:478px;
  top:364px;
  width:34px;
  height:108px;
  font-size:16px;
}
#u135 {
  position:absolute;
  left:2px;
  top:26px;
  width:30px;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u136 {
  position:absolute;
  left:375px;
  top:511px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u137 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:51px;
}
#u138 {
  position:absolute;
  left:155px;
  top:626px;
  width:159px;
  height:50px;
  font-size:16px;
}
#u139 {
  position:absolute;
  left:2px;
  top:16px;
  width:155px;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u140 {
  position:absolute;
  left:375px;
  top:626px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u141 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u142 {
  position:absolute;
  left:732px;
  top:626px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#FF0000;
}
#u143 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:435px;
  top:561px;
  width:0px;
  height:0px;
}
#u144_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u144_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u144_seg2 {
  position:absolute;
  left:-9px;
  top:52px;
  width:18px;
  height:19px;
}
#u145 {
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:672px;
  top:651px;
  width:0px;
  height:0px;
}
#u146_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u146_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u146_seg2 {
  position:absolute;
  left:47px;
  top:-9px;
  width:19px;
  height:18px;
}
#u147 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:375px;
  top:651px;
  width:0px;
  height:0px;
}
#u148_seg0 {
  position:absolute;
  left:-61px;
  top:-4px;
  width:65px;
  height:8px;
}
#u148_seg1 {
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u148_seg2 {
  position:absolute;
  left:-67px;
  top:-9px;
  width:19px;
  height:18px;
}
#u149 {
  position:absolute;
  left:-80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u150 {
  position:absolute;
  left:375px;
  top:710px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u151 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:108px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u152 {
  position:absolute;
  left:375px;
  top:787px;
  width:34px;
  height:108px;
  font-size:16px;
}
#u153 {
  position:absolute;
  left:2px;
  top:16px;
  width:30px;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:108px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u154 {
  position:absolute;
  left:461px;
  top:787px;
  width:34px;
  height:108px;
  font-size:16px;
}
#u155 {
  position:absolute;
  left:2px;
  top:16px;
  width:30px;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u156 {
  position:absolute;
  left:552px;
  top:626px;
  width:120px;
  height:50px;
  font-size:16px;
}
#u157 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:435px;
  top:81px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u158_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u158_seg2 {
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u159 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:435px;
  top:161px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u160_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u160_seg2 {
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:19px;
}
#u161 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:435px;
  top:242px;
  width:0px;
  height:0px;
}
#u162_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u162_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u162_seg2 {
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:19px;
}
#u163 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:435px;
  top:323px;
  width:0px;
  height:0px;
}
#u164_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u164_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u164_seg2 {
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:19px;
}
#u165 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:435px;
  top:323px;
  width:0px;
  height:0px;
}
#u166_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u166_seg1 {
  position:absolute;
  left:-64px;
  top:23px;
  width:68px;
  height:8px;
}
#u166_seg2 {
  position:absolute;
  left:-64px;
  top:23px;
  width:8px;
  height:18px;
}
#u166_seg3 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u166_seg4 {
  position:absolute;
  left:-69px;
  top:28px;
  width:18px;
  height:19px;
}
#u167 {
  position:absolute;
  left:-74px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:435px;
  top:323px;
  width:0px;
  height:0px;
}
#u168_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u168_seg1 {
  position:absolute;
  left:-4px;
  top:23px;
  width:68px;
  height:8px;
}
#u168_seg2 {
  position:absolute;
  left:56px;
  top:23px;
  width:8px;
  height:18px;
}
#u168_seg3 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u168_seg4 {
  position:absolute;
  left:51px;
  top:28px;
  width:18px;
  height:19px;
}
#u169 {
  position:absolute;
  left:-26px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:435px;
  top:473px;
  width:0px;
  height:0px;
}
#u170_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u170_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u170_seg2 {
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u171 {
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:435px;
  top:676px;
  width:0px;
  height:0px;
}
#u172_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u172_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u172_seg2 {
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:19px;
}
#u173 {
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:435px;
  top:760px;
  width:0px;
  height:0px;
}
#u174_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u174_seg1 {
  position:absolute;
  left:-47px;
  top:6px;
  width:51px;
  height:8px;
}
#u174_seg2 {
  position:absolute;
  left:-47px;
  top:6px;
  width:8px;
  height:21px;
}
#u174_seg3 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u174_seg4 {
  position:absolute;
  left:-52px;
  top:14px;
  width:18px;
  height:19px;
}
#u175 {
  position:absolute;
  left:-75px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:435px;
  top:760px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u176_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:51px;
  height:8px;
}
#u176_seg2 {
  position:absolute;
  left:39px;
  top:6px;
  width:8px;
  height:21px;
}
#u176_seg3 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u176_seg4 {
  position:absolute;
  left:34px;
  top:14px;
  width:18px;
  height:19px;
}
#u177 {
  position:absolute;
  left:-25px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:392px;
  top:895px;
  width:0px;
  height:0px;
}
#u178_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u178_seg1 {
  position:absolute;
  left:-283px;
  top:15px;
  width:287px;
  height:8px;
}
#u178_seg2 {
  position:absolute;
  left:-283px;
  top:-601px;
  width:8px;
  height:624px;
}
#u178_seg3 {
  position:absolute;
  left:-283px;
  top:-601px;
  width:266px;
  height:8px;
}
#u178_seg4 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u178_seg5 {
  position:absolute;
  left:-30px;
  top:-606px;
  width:19px;
  height:18px;
}
#u179 {
  position:absolute;
  left:-329px;
  top:-287px;
  width:100px;
  word-wrap:break-word;
}
#u180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u180 {
  position:absolute;
  left:418px;
  top:962px;
  width:120px;
  height:50px;
  font-size:16px;
  color:#FF0000;
}
#u181 {
  position:absolute;
  left:2px;
  top:16px;
  width:116px;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:478px;
  top:895px;
  width:0px;
  height:0px;
}
#u182_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u182_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u182_seg2 {
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:19px;
}
#u183 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:495px;
  top:651px;
  width:0px;
  height:0px;
}
#u184_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u184_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u184_seg2 {
  position:absolute;
  left:44px;
  top:-9px;
  width:19px;
  height:18px;
}
#u185 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:51px;
}
#u186 {
  position:absolute;
  left:552px;
  top:816px;
  width:159px;
  height:50px;
  font-size:16px;
}
#u187 {
  position:absolute;
  left:2px;
  top:16px;
  width:155px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:495px;
  top:841px;
  width:0px;
  height:0px;
}
#u188_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u188_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u188_seg2 {
  position:absolute;
  left:44px;
  top:-9px;
  width:19px;
  height:18px;
}
#u189 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:51px;
}
#u190 {
  position:absolute;
  left:712px;
  top:530px;
  width:159px;
  height:50px;
  font-size:16px;
}
#u191 {
  position:absolute;
  left:2px;
  top:16px;
  width:155px;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:792px;
  top:626px;
  width:0px;
  height:0px;
}
#u192_seg0 {
  position:absolute;
  left:-4px;
  top:-46px;
  width:8px;
  height:50px;
}
#u192_seg1 {
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u192_seg2 {
  position:absolute;
  left:-9px;
  top:-52px;
  width:18px;
  height:19px;
}
#u193 {
  position:absolute;
  left:-50px;
  top:-31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:375px;
  top:472px;
  width:0px;
  height:0px;
}
#u194_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u194_seg1 {
  position:absolute;
  left:-4px;
  top:24px;
  width:68px;
  height:8px;
}
#u194_seg2 {
  position:absolute;
  left:56px;
  top:24px;
  width:8px;
  height:15px;
}
#u194_seg3 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u194_seg4 {
  position:absolute;
  left:51px;
  top:26px;
  width:18px;
  height:19px;
}
#u195 {
  position:absolute;
  left:-28px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:495px;
  top:472px;
  width:0px;
  height:0px;
}
#u196_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u196_seg1 {
  position:absolute;
  left:-64px;
  top:24px;
  width:68px;
  height:8px;
}
#u196_seg2 {
  position:absolute;
  left:-64px;
  top:24px;
  width:8px;
  height:15px;
}
#u196_seg3 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u196_seg4 {
  position:absolute;
  left:-69px;
  top:26px;
  width:18px;
  height:19px;
}
#u197 {
  position:absolute;
  left:-72px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
