body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1226px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:699px;
}
#u4611 {
  position:absolute;
  left:0px;
  top:0px;
  width:1226px;
  height:699px;
}
#u4612 {
  position:absolute;
  left:2px;
  top:342px;
  width:1222px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:61px;
}
#u4613 {
  position:absolute;
  left:408px;
  top:638px;
  width:408px;
  height:61px;
}
#u4614 {
  position:absolute;
  left:2px;
  top:22px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4615 {
  position:absolute;
  left:465px;
  top:693px;
  width:140px;
  height:40px;
}
#u4616 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4617 {
  position:absolute;
  left:626px;
  top:693px;
  width:206px;
  height:40px;
}
#u4618 {
  position:absolute;
  left:2px;
  top:12px;
  width:202px;
  word-wrap:break-word;
}
#u4619 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1211px;
  height:799px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.349019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4620 {
  position:absolute;
  left:0px;
  top:-24px;
  width:1211px;
  height:799px;
}
#u4621 {
  position:absolute;
  left:2px;
  top:392px;
  width:1207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4622 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:252px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4623 {
  position:absolute;
  left:371px;
  top:161px;
  width:402px;
  height:252px;
}
#u4624 {
  position:absolute;
  left:2px;
  top:118px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4625 {
  position:absolute;
  left:371px;
  top:161px;
  width:402px;
  height:41px;
}
#u4626 {
  position:absolute;
  left:2px;
  top:12px;
  width:398px;
  word-wrap:break-word;
}
#u4627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4627 {
  position:absolute;
  left:740px;
  top:172px;
  width:20px;
  height:20px;
}
#u4628 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u4629 {
  position:absolute;
  left:455px;
  top:261px;
  width:253px;
  height:22px;
  font-size:18px;
}
#u4630 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u4631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4631 {
  position:absolute;
  left:602px;
  top:337px;
  width:60px;
  height:30px;
}
#u4632 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u4633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4633 {
  position:absolute;
  left:502px;
  top:337px;
  width:60px;
  height:30px;
}
#u4634 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
